html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0px;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
:root {
  --webfont: "Raleway";
}
/* Top-line(nav) */
.top-line {
  display: flex;
  flex-direction: row;
  width: 1600px;
  height: 80px;
  box-sizing: border-box;
  margin-bottom: 0px;
}
.webstudio-1 {
  font-family: var(--webfont);
  font-weight: 700;
  font-style: normal;
  font-size: 26px;
  line-height: 31px;
  min-width: 145px;
  height: 31px;
  margin-left: 215px;
  margin-top: 24px;
}
.span-blue {
  color: #2196f3;
}
.three-objects {
  display: flex;
  flex-direction: row;
}

.studio {
  width: 49px;
  height: 16px;
  margin-left: 93px;
  margin-top: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #212121;
}
.studio:hover {
  color: #2196f3;
}
.portfolio {
  width: 77px;
  height: 16px;
  margin-left: 50px;
  margin-top: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #212121;
}
.portfolio:hover {
  color: #2196f3;
}
.contacts {
  width: 68px;
  height: 16px;
  margin-left: 50px;
  margin-top: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #212121;
}
.contacts:hover {
  color: #2196f3;
}
.mail-a {
  width: 145px;
  height: 16px;
  margin: 32px 50px 32px 331px;
  color: #757575;
}
.mail-a:hover {
  color: #2196f3;
}
.tel-a {
  width: 135px;
  height: 16px;
  margin-left: 50px;
  margin-top: 32px;
  display: flex;
  color: #757575;
}
.tel-a:hover {
  color: #2196f3;
}
/* Main */
.main {
  width: 1170px;
  height: 1360px;
  margin: 94px 215px;
}
.main li {
  display: inline-block;
}
.buttons {
  width: 611px;
  height: 54px;
  margin: 0px 279px 0 280px;
  padding-left: 0px;
}
.main button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f5f4fa;
  border: 0px solid #fff;
}
.main button:hover,
.main button:focus {
  background-color: #2196f3;
  color: #fff;
}
.li-1 {
  width: 73px;
  height: 38px;
}
.button-1 {
  width: 73px;
  height: 38px;
  margin: 0px 8px 16px 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
}
.li-2 {
  width: 128px;
  height: 38px;
}
.button-2 {
  width: 128px;
  height: 38px;
  margin: 0px 8px 16px 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 5px 20px;
}
.li-3 {
  width: 145px;
  height: 38px;
}
.button-3 {
  width: 145px;
  height: 38px;
  margin: 0px 8px 16px 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
}
.li-4 {
  width: 103px;
  height: 38px;
}
.button-4 {
  width: 103px;
  height: 38px;
  margin: 0px 8px 16px 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
}
.li-5 {
  width: 130px;
  height: 38px;
}
.button-5 {
  width: 130px;
  height: 38px;
  margin: 0px 0px 16px 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
}
/* Подвал */
.footer {
  background-color: #2f303a;
  width: 1600px;
  height: 252px;
  display: inline-block;
}
.white {
  color: #fff;
}
.webstudio-2 {
  display: inline-block;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  display: inline-box;
  margin: 60px 1240px 20px 215px;
}
.span-blue-2 {
  color: #2196f3;
  margin-right: 0px;
}
.down-contacts {
  display: inline-block;
  width: 231px;
  height: 81px;
  margin: 20px 1154px 60px 215px;
}

.f-adress {
  display: inline;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  letter-spacing: 0.03em;
}
.f-mail {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.f-tel {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  display: block;
}
